.logout-content {
  height: 100%;
  width: 100%;
}

.my-maine-box {
  background-color: white;
  height: 200px;
  width: 700px;
  text-align: center;
  line-height: 47px;
  font-size: 14px;
  color: white;

  // text-align-last: center;
  
  .my-maine-box-box {
    height: 47px;
    width: 320px;
    background-color: #ea352d;
    margin: auto;
    margin-top: 62.5px;
  }
}


// .logout-content {
//   height: 54px;
//   width: 700px;
//   background-color: white;
//   margin-left: 40px;
//   padding: 64px;
//   &__ber{
//     height: 40px;
//     width: 572px;
//     &__out{
//       height: 35px;
//       width: 320px;
//       background-color:  red;
//       margin-left: 126px;
//       color: white;
//       text-align: center;
//       font-size: 14px;
//       padding-top: 15px;
//     }
//   }
// }