.pickup-content
  = link_to  do
    %figure.content__box
      .img_content
        = image_tag ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_O877pBxcM1j9bQgBJ7Xoge8Bc8TFzR89lq8R6rdmcaHzQOhUig&s"), class:'pickup-content__img'
        = image_tag ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_O877pBxcM1j9bQgBJ7Xoge8Bc8TFzR89lq8R6rdmcaHzQOhUig&s"), class:'pickup-content__img'
        .img_title
          %p.img_price
            ¥2,000
      %figcaption.text__box 
        %span 
          text