%section.new__items
  .new__items__container
    =link_to items_show_path do
      .new__items__container__box
        %figure
          = image_tag ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_O877pBxcM1j9bQgBJ7Xoge8Bc8TFzR89lq8R6rdmcaHzQOhUig&s"), class:'new__items__container__box-item_phot'
          %p.new__items__container__box-price
            ¥2,000
            .new__items__container__box__item_body
              %h3 
                test