%footer.sub-footer
  %ul.sub-footer__links
    %li
      %a.opacity
        プライバシーポリシー
    %li
      %a.opacity
        エフマーケット利用規約
    %li
      %a.opacity
        特定商取引に関する表記
  = link_to root_path do
    = image_tag '/logo_gray.svg', class: 'sub-footer__logo'
  %p.copy-right © Mercari, Inc.